

div.mainInfo
  img.church_full(src=c.fullPic)
  h2 #{c.name}
  p year: #{c.year}
  p address: #{c.address}
  p latlon: #{c.latlon}
  p Brasses:
  ul
    each b in c.BrassesVals
      li #{b.name}
    
  div !{c.mainNoteHTML}
  
    
